{% extends "_layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<h1 class="display-4">{{page_header}}</h1>

<h2 class="display-5">Зміст</h2>

<div class="list-group">
    <a class="list-group-item list-group-item-action fs-5" href="/clonning">
        <i class="bi bi-copy"></i> 
        Інструкція з клонування проєкту з Гітхаба
    </a>
    <a class="list-group-item list-group-item-action fs-5" href="/layouting">
        <i class="bi bi-layout-text-window-reverse"></i> 
        Шаблонізація - створення єдиного оточення
    </a>
    <a class="list-group-item list-group-item-action fs-5" href="/statics">
        <i class="bi bi-file-image"></i> 
        Підключення статичних файлів-ресурсів
    </a>
    <a class="list-group-item list-group-item-action fs-5" href="/params">
        <i class="bi bi-file-bar-graph"></i>
        Передача параметрів у запиті
    </a>
    <a class="list-group-item list-group-item-action fs-5" href="/forms">
        <i class="bi bi-ui-checks"></i>
        Форми. Передача комплексних параметрів
    </a>
</div>

<p>
    З контексту передано дані: x = {{x}}
</p>
<i style="font-weight:700;">Сторінка завантажена о </i>

{% endblock %}